<section
  class="bg-primary h-[800px] relative pt-40 pb-20 md:pb-32 overflow-hidden"
  id="hero"
>
  <div
    class="absolute inset-0 pointer-events-none z-0"
    style="
      background-image: url(/male-worker-factory.webp);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    "
  ></div>

  <div class="container relative h-full content-center z-10 py-20 md:py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center">
      <div></div>
      <div
        class="text-white bg-primary/70 px-14 py-8 rounded-xl drop-shadow-lg backdrop-blur"
      >
        <h1
          class="text-2xl text-center md:text-left md:text-3xl lg:text-4xl font-bold flex-1 reveal-right"
        >
          Проверенные специалисты рядом
        </h1>
        <p class="mt-5 text-base reveal-right">
          Выбирайте профессионалов в строительстве, автосервисе, обучении и
          обслуживании бытовой техники.
        </p>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-0">
    <svg
      class="block w-full h-12 md:h-48"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="#fbf9fa"
        d="M0,224L48,213.3C96,203,192,181,288,181.3C384,181,480,203,576,224C672,245,768,267,864,261.3C960,256,1056,224,1152,197.3C1248,171,1344,149,1392,138.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>
</section>
